
<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description1"
    command="cat '$(find multi_robot)/src/urdf/m2wr1.urdf'" />
 
 <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find multi_robot)/src/launch/one_robot1.launch" >
      <arg name="init_pose" value="-x -10 -y -8 -z 0" />
      <arg name="robot_name"  value="robot1" />
    </include>
 <node pkg="edumip_mas0" name="robot1" type="spawn_edumip.py">

    <param name="number" value="1"/>

  </node>


  </group>
</launch>
