
<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="cat '$(find multi_robot)/src/urdf/m2wr.urdf'" />
 
<!-- BEGIN ROBOT 0-->
  <group ns="robot0">
    <param name="tf_prefix" value="robot0_tf" />
    <include file="$(find multi_robot)/src/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0 -y -10 -z 0" />
      <arg name="robot_name"  value="robot0" />
    </include>
<node pkg="edumip_mas0" name="robot0" type="spawn_edumip.py">

    <param name="number" value="0"/>

  </node>

</group>
 

 

</launch>



